@media screen and (min-width: 700px) {


#menu {

    display:none;

}



header {

    display:flex;

}



nav {

    display:flex;

    width:auto;

}



nav a {

    padding:15px;

}



.gallery {

    grid-template-columns:
    repeat(3, 1fr);

}



}